<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-xl">
    <a class="navbar-brand" href="/">Кадры</a>
    <!--  Эта вот кнопка нужна для того чтобы при просмотре с телефона появилось бургер меню  -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample07XL">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/employees">Работники</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/countries">Страны</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/regions">Регионы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/addresses">Адреса</a>
        </li>
      </ul>
    </div>
  </div>
</nav>